    h1{text-align:center;color:blue;font-size: 40px;}

    body{background-color: rgb(193, 230, 217);}

    p{text-align: justify; font-size: 20px;}

    img{border-radius:1cm; width: 13%;}

    table{border-color: black; width: 7cm;}

    a:hover{color: red;}

    td img{width:1cm;}


    

    
